.grid-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 3rem;
    column-gap: 0.5rem;
    row-gap: 2rem;
}

.heading{
    text-align: center;
    font-size: 50px;
    color: white;
    /* color: black; */
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}


.read-more-section{
    height: 650px;
    overflow: hidden;
    display: block;
}

.icon{
    transform: scale(2);
    margin-left: 50vw;
    margin-top: 3rem;
    color: black;
    transition: linear 500ms;
}
.icon:hover{
    transform: scale(3);
    color: grey;
    transition: linear 200ms;
}