.container {
    font-family: 'Lato', sans-serif;
    position: relative;
    width: 100%;
  }
  
  .front_wallpaper{
    width: 100vw;
    height: 100vh;
  }

  .text{
    color: rgb(218, 205, 205);
    position: absolute;
    top: 60%;
    left: 44%;
    white-space:nowrap;
    overflow:hidden;

  }
  
  .main_text{
      color: rgb(218, 205, 205);
      /* color: rgb(227, 238, 255); */
      position: absolute;
      top: 30%;
      left: 20%;
      white-space:nowrap;
      overflow:hidden;
      animation:typing 6s steps(55,end) forwards,
                blink 1s infinite;
  }
  @keyframes typing {
    0% { width:0% }
    100% { width:100vw }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid #222;
    }
  }

  .facebook{
    position: absolute;
    top: 30%;
    left: 20%;
    white-space:nowrap;
    overflow:hidden;
    transform: scale(0.1);
    cursor: pointer;
  }
  .instagram{
    position: absolute;
    top: -14.5%;
    left: 18%;
    white-space:nowrap;
    overflow:hidden;
    transform: scale(0.05);
    cursor: pointer;
  }
  .linkedin{
    position: absolute;
    top: 30%;
    left: 32%;
    white-space:nowrap;
    overflow:hidden;
    transform: scale(0.1);
    cursor: pointer;
  }
  .github{
    position: absolute;
    top: 30%;
    left: 26%;
    white-space:nowrap;
    overflow:hidden;
    transform: scale(0.1);
    cursor: pointer;
  }

  .main_btn{
    /* font-family: 'Lato', sans-serif; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .main_btn:hover{
      background-color: white;
      color: inherit;
      transition: linear;
      transition-duration: 500ms;
  }

  .arrow {
      margin-left: 10px;
  }